
body {
    min-block-size: 100svh;
    --grad-1: blue;
    --grad-2: rgb(133, 34, 247);
    --angle: 45deg;
    --line-1: 100px;
    --bottom: 2em;
    filter: hue-rotate(91deg);
    background-color: navy;
    background-image: repeating-linear-gradient(var(--angle), var(--grad-1) 0 var(--line-1), var(--grad-2) var(--line-1) 200px);
    background-size: 10000px 100svh;
    background-position: 100vw 0;
    background-attachment: fixed;
    animation: move-bg 12s linear infinite both alternate,
            rotate-bg 130s linear infinite alternate both;
}

@property --angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 45deg;

}

aside,
header,
footer {
    display: none;
}

h1 {
    --slide: 80vw;
    animation: slide 2s linear infinite alternate both,
            squish 2s ease-in-out infinite alternate both;
}

.stage {
    z-index: -100;
    position: fixed;
    inset: 0;
    height: 100vh;
    background-color: #fff7;
    overflow: clip;
    animation: strobe 0.125s linear 30s infinite forwards;
    /* enlarge 13.5s ease-in-out 0s infinite alternate; */
}
audio {
    z-index: 1000;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0em
}

img[src*=trex] {
    --mx-opacity: 1;
    z-index: 300;
    position: absolute;
    bottom: var(--bottom);
    right: 1em;
    scale: 0.5;
    transform-origin: right bottom;
    animation: trex 25s linear 0s infinite both alternate, 
                in-out 50s linear 0s infinite alternate both;
}

img[src*=dancers] {
    --brightness: 4;
    z-index: 250;
    position: absolute;
    bottom: var(--bottom);
    left: 30%;
    scale: 0.5;
    transform-origin: left bottom;
    animation: dancers 35s ease-out 0s infinite both alternate,
            brightness 0.4s steps(2) infinite;
}

img[src*=threesome] {
    --mx-opacity: 0.2;
    --enlarge: 1.3;
    position: absolute;
    bottom: var(--bottom);
    left: 0%;
    width: 100%;
    /* height: 90%; */
    /* scale: 1.5; */
    opacity: 0;
    mix-blend-mode: soft-light;
    transform-origin: right bottom;
    animation: enlarge 15s linear 0s infinite both alternate,
                in-out 24s linear 10s infinite alternate;
                /* opacity 7s linear 0s infinite alternate; */
}

img[src*=gurner] {
    position: absolute;
    left: 0;
    bottom: var(--bottom);
    /* height: 100%; */
    opacity: 0.25;
    /* animation: crossing 7.5s linear 0s infinite both; */
}

img[src*=frog] {
    position: fixed;
    right: -500px;
    bottom: 4em;
    animation: crossing 7.5s linear 0s infinite both;
}
img[src*=baby-cat] {
    position: fixed;
    top: 45svh;
    right: -15svh;
    scale: 0;
    animation: baby-cat 14s ease-in 0s infinite forwards;
}

img[src*=couple] {
    --slide: -50vw;
    z-index: 100;
    position: absolute;
    bottom: var(--bottom);
    right: 100px;
    scale: 2;
    transform-origin: center bottom;
    animation: in-out 37s ease-in 0s infinite forwards,
            slide 30s ease-in-out 0s infinite alternate;
}

img[src*="baby.gif"] {
    --brightness: 5;
    --slide: 60vw;
    z-index: 200;
    position: absolute;
    /* bottom: var(--bottom); */
    left: 100px;
    top: 200px;
    filter: brightness(1);
    transform-origin: center bottom;
    animation: /* in-out 17s ease-in 0s infinite forwards, */
            slide 120s ease-in-out 0s infinite alternate,
            brightness 0.1s steps(2) infinite;
}

@property --grad-1 {
    syntax: "<color>";
    inherits: true;
    initial-value: green;
}

@property --grad-2 {
    syntax: "<color>";
    inherits: true;
    initial-value: blue;
}

@property --line-1 {
    syntax: "<length>";
    inherits: true;
    initial-value: 100px;
}



@keyframes move-bg {
    to {
        background-position: 10000px 0;
        --grad-1: rgb(10, 107, 251);
        --grad-2: red;
        --line-1: 200px;
    }
}

@keyframes rotate-bg {
    to {
        --angle: 405deg;
    }
    
}

@keyframes slide {
    to {
        translate: var(--slide) 0;
    }
}

@keyframes brightness {
    to {
        filter:brightness(var(--brightness));
    }
    
}

@keyframes crossing {

    to {
        translate: -140vw;
    }
}

@keyframes squish {
    0% {
        scale: 1 1;
    }
    92% {
        scale: 1 1;
    }
    100% {
        scale: 0.5 1;
        background-color: blue;
    }
    
}

@keyframes baby-cat {
    to {
        translate: -470vh -100vh;
        scale: 4.2;
    }
    
}

@keyframes strobe {
    0% {
        background-color: #06fa06c7;
    }
    25% {
        background-color: #fff0;
    }
    50% {
        background-color: #ffff00c7;
    }
    75% {
        background-color: #fff0;
    }
    100% {
        background-color: #0000ffc7;
    }
    
}

@keyframes trex {
    to {
        translate: -50vw 0;
        scale: 2;
    }
}

@keyframes dancers {
    to {
        scale: 2.5;
        translate: 32vw 0;
    }
}

@keyframes enlarge {
    to {
        scale: var(--enlarge);
    }
}
@keyframes opacity {
    to {
        opacity: 1;
    }
}

@keyframes in-out {
    0% {
        opacity: 0;
    }
    45% {
        opacity: 0;
    }
    50% { 
        opacity: var(--mx-opacity);
    }
    100% {
        opacity: var(--mx-opacity);
    }
}