<header>

    
    {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
    
    {{ partial "inline/cover.html" . }}

    {{ if .IsHome }}
        <section class="cta">
            <div class="headline">
                {{ site.Params.headline }}
            </div>
                <span class="subhead">{{ site.Params.subhead | safeHTML }}</span>
                <a href="/posts/movegb-scam2/" class="btn">show me</a>
        </section>
        {{ else }}
        <h1>{{ .Title }}</h1>
        {{ end }}
</header>


{{ define "_partials/inline/cover.html" }}
<div class="cover-image">
    {{ with .Params.cover_image }}
    {{ $img := resources.Get . }}
    {{ with $img }}
    <img src="{{ $img.RelPermalink }}" alt="no image">
    {{ end }}
    {{ else }}
    <img src="https://picsum.photos/id/174/2160/1150" alt="picsum image">
    {{ end }}
</div>
{{ partial "button-bank" . }}
{{ end }}