<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/mononoki" type="text/css"/>
</head>
<body>

    
    <div class="container">
        <header>
            <img src="{{ with .Params.cover_image }}{{ . }}{{ else }}https://picsum.photos/id/702/2160/550{{ end }}" width="2160" height="550" alt="picsum image">
        </header>
        <div class="gradient"></div>
        <nav class="header-nav">
            
            {{ range site.Menus.main }}
                <a href="{{ .URL }}">{{ .Name }}</a>
            {{ end }}
        </nav>

        {{ block "main" . }}
        
        {{ end }}

        {{ partial "sidebar" . }}
    </div>
</body>

</html>