{{ define "main" }}

<h1>{{ .Title }}</h1>

{{ .Content }}

    <!-- This content comes from any _index.md files which are landing pages for specific folders or the home page -->

    <ul class="listpage">
        {{ range .Pages }}

            <li><a href="{{.Permalink}}">{{ .Title }}</a><br>{{ .Summary }}</li>

            <!-- WARN 2019/12/01 13:53:30 Page.URL is deprecated and will be removed in a future release. Use .Permalink or .RelPermalink. If what you want is the front matter URL value, use .Params.url -->

        {{ end }}
    
    </ul>

{{ end }}