.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.fade {
    opacity: 0;
}

.btn.active-btn {
    background-color: darkred;
}

.btn.active-btn:hover {
    background-color: orangered;
}