{{ define "main" }}
<main>

  

    {{ .Content }}

    <section class="section-content">
        <p>There are {{ len .Pages }} articles in this section.</p>
        <ul>
            {{ range .Pages.ByDate.Reverse }}
            {{ .Render "item" }}
            {{ partial "inline/test" . }}
            {{ end }}
        </ul>
    </section>

</main>
{{ end }}


{{ define "_partials/inline/test.html" }}
<li class="item">
    <a href="{{ .RelPermalink }}">
        {{ $img := .Params.cover_image }}
        {{ with resources.Get $img }}
        <img src="{{ (.Process "resize 450x webp q50").RelPermalink }}" alt="">
        {{ end }}
        <div class="item-body">
            <h2>{{ .LinkTitle }}</h2>
            <time datetime="{{ .Date }}">{{ .Date.Format "Mon 2 Jan 06" }}</time>
            <p>{{ .Summary }}</p>
        </div>
    </a>

            {{ with .Params.tags }}
                <div class="item-tags">
                    {{ range . }}
                        <a href="/tags/{{ . }}" class="tag">{{ . }}</a>
                    {{ end }}
                </div>
            {{ end }}
</li>
{{ end }}